<html>
  <head>
    <title>Login Page</title>
  </head>
  <body>
    <form action="/api/login" method="post">
      <div>
        <label for="username">Username:</label>
        <input type="text" id="username" />
      </div>
      <div>
        <lable for="password">Password:</label>
        <input type="password" id="password" />
      </div>
    </form>
  </body>
</html>
